################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExtendedWPFToolkitSolution/.vs/Xceed.Wpf.Toolkit/v16
